body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #f7f9fc;
}

/* Header */
h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin-top: 20px;
    color: #2c3e50;
}

/* Painel lateral */
#sidebar {
    position: absolute;
    z-index: 9999;
    background: #ffffff;
    padding: 25px;
    width: 310px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    border-radius: 12px;
    margin: 20px;
}

#sidebar h2 {
    margin-top: 0;
    color: #34495e;
    font-size: 22px;
    font-weight: 700;
}

label {
    font-weight: 600;
    color: #444;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

label input {
    margin-right: 6px;
}

/* Campo numérico */
input[type="number"] {
    padding: 6px 10px;
    width: 70px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-left: 5px;
}

/* Botão */
button {
    margin-top: 15px;
    padding: 12px 18px;
    border: none;
    background: #3498db;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    transition: 0.25s;
}

button:hover {
    background: #2980b9;
    transform: translateY(-2px);
}

/* Mapa */
#map {
    height: calc(100vh - 100px);
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
}
